# Dependencies
node_modules
card-images/
# Build output
dist
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Vercel
.vercel
